{% extends "./user_base.html" %}

{% block header %}
<style>
	.ivu-page-item-active {
		background-color: #000;
		border-color: #000;
	}
	.ivu-page-item:hover {
	    border-color: #000;
	    /*color: #000;*/
	}
	.ivu-page-next:hover, .ivu-page-prev:hover {
	    border-color: #000;
	}

	.user-form {
    	margin-left: 180px;
    	margin-top: 50px;
    }

    .ivu-form .ivu-form-item-label {
    	color: #fff;
    	font-size: 14px;
    }

    .ivu-input-wrapper {
    	width: 60%;
    }

    .ivu-radio-group label {
    	color: #fff;
    }

    .ivu-radio-checked .ivu-radio-inner {
		border-color: #000;
	}

	.ivu-radio-checked:hover .ivu-radio-inner {
	    border-color: #000;
	}

	.ivu-radio-inner:after {
	    background-color: #000;
	}
</style>
{% end %}

{% block main %}
<div id="contributes">
	<div class="user-nav">
		<div class="user-block">{{! username }}</div>
		<router-link to="contrib"><div class="test-usec">投稿</div></router-link>
		<div v-if="yourself">
			<router-link to="uploads"><div class="test-usec">上传</div></router-link>
			<router-link to="trails"><div class="test-usec">审核</div></router-link>
		</div>
	</div>
	<router-view></router-view>
</div>

<template id="contrib">
	<div class="contri-container">
		<div class="contri" style="background:rgba(0, 0, 0, 0.8); border-radius:8px;">
			<div style="margin-left: 20px;">
				<song-list
			      v-for="item in spaceSong"
			      v-bind:song="item"
			      v-bind:key="item.id">
			    </song-list>
			</div>
			
		    <div style="position: absolute;bottom:5px;margin:0 auto;">
		    <!-- <div align="center" class="pagination"> -->
				<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
			</div>
		</div>
	</div>
</template>

<template id="uploads">
	<div class="contri-container">
		<div class="contri" style="background:rgba(0, 0, 0, 0.8); padding-top:40px; border-radius:8px;">
			<upload ref="music" :on-success="handleSuccess" :headers="headers" :before-upload="musicUpload" action="http://192.168.31.10/uploadMusic">
				<i-button icon="ios-cloud-upload-outline">传音频</i-button>
			</upload>
			<upload ref="cover" :on-success="handleSuccess" :headers="headers" :before-upload="coverUpload" action="http://192.168.31.10/uploadMusic">
				<i-button icon="ios-cloud-upload-outline">传封面</i-button>
			</upload>
			<div v-for="(item, index) in files" style="color:white;">upload file: {{! item.name }}
				<a href="javascript:;" @click="delFile(item.keyID)" style="color:#f0532d;">X</a>
			</div>
			
			<div class="user-form">
				<i-form :model="formItem" :label-width="80">
					<form-item label="歌曲名">
						<i-input v-model="formItem.songName"></i-input>
					</form-item>
					<form-item label="作者">
						<i-input v-model="formItem.artist"></i-input>
					</form-item>
					<form-item label="简介">
						<i-input v-model="formItem.desc" type="textarea" :autosize="{minRows:2, maxRows:3}"></i-input>
					</form-item>
					<form-item label="投稿类型">
						<radio-group v-model="formItem.radio">
							<radio label="1">原创</radio>
							<radio label="2">非原创</radio>
						</radio-group>
					</form-item>
					<form-item label="风格类型">
						<radio-group v-model="formItem.musicType">
							<radio label="1">中文</radio>
							<radio label="2">轻音乐</radio>
							<radio label="3">爵士</radio>
							<radio label="4">日文</radio>
							<radio label="5">英文</radio>
						</radio-group>
					</form-item>
				</i-form>
			</div>
			<i-button style="margin-left:30px;" size="small" v-if="music && cover && formItem.songName && formItem.artist" @click="upload">提交稿件</i-button>
		</div>
	</div>
</template>

<template id="trails">
	<div class="contri-container">
		<div class="contri" style="background:rgba(0, 0, 0, 0.8); border-radius:8px;">
			<ul style="text-align:left; margin-left:50px; margin-top:30px;">
				<trail-list v-for="item in trails"
				            v-bind:trail="item"
				            v-bind:key="item._id">
				</trail-list>
			</ul>

			<div style="position: absolute;bottom:5px;margin:0 auto;">
				<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
			</div>
		</div>
	</div>
</template>

<template id="song-list">
	<div class="spread-module" style="margin-bottom: 10px">
		<a :href="song.url" target="_blank">
			<div class="pic">
				<div class="lazy-img">
					<img :src="song.cover_path" :alt="song.name" :title="song.name">
				</div>
			</div>
			<p class="t" :title="song.name">{{! song.name }}</p>
		</a>
	</div>
</template>

<template id="trail-list">
	<li style="margin-bottom:2px; margin-left:5px; color:white;">
		<div style="width:50%; text-overflow:ellipsis; display:inline-block;">
			{{! trail.name }}
		</div>
		<div style="display:inline-block;">
			{{! trail.flag_name}}
		</div>
	</li>
</template>
{% end %}

{% block script %}
<script>
	Vue.use(VueRouter);

	var Contribute = Vue.extend({
		template: "#contrib",
		data: function() {
			return {
				current: 1,
				total: 0,
				pageSize: 6,
				spaceSong: []
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			changePage: function(page) {
				console.log(page);
				this.current = page;
				var that = this;
				this.$http.post("/api/songspace",
					{current: that.current, pageSize: that.pageSize, space_id: {{ space_id}} },
					{emulateJSON: true}
				).then(function(response) {
					that.spaceSong = response.body.space_list;
					that.total = response.body.total;
				})
			},
			fetchData: function() {
				var that = this;
				this.$http.post("/api/songspace",
					{current: that.current, pageSize: that.pageSize, space_id: {{ space_id}} },
					{emulateJSON: true}
				).then(function(response) {
					that.spaceSong = response.body.space_list;
					that.total = response.body.total;
				})
			}
		}
	});

	var Upload = Vue.extend({
		template: "#uploads",
		data: function() {
			return {
				headers: {"Access-Control-Allow-Origin": "*", "contentType": "application/json;charset=utf-8;"},
				files: [],
				music: false,
				cover: false,
				formItem: {
					songName: "",
					artist: "",
					radio: "1",
					musicType: "1",
					desc: "",
				},
				musicPath: "",
				coverPath: "",
			}
		},
		methods: {
			handleSuccess: function(response, file, fileList) {
				console.log("success");
				console.log(response);
				var contentType = response.content_type;
				var array = contentType.split("/");
				if (array[0] == "image") {
					this.coverPath = response.file_path;
				} else if (array[0] == "audio") {
					this.musicPath = response.file_path;
				} else {
					console.log("Unknown file type");
				}
				if (this.coverPath && this.musicPath) {
					this.writeTo();
				}
			},
			writeTo: function() {
				console.log("music: ", this.musicPath);
				console.log("cover: ", this.coverPath);
				var that = this;
				this.$http.post("/api/importsong",
					{music_path: that.musicPath, cover_path: that.coverPath, 
					 music_type: that.formItem.musicType, origin: that.formItem.radio,
					 song_name: that.formItem.songName, artist: that.formItem.artist,
					 desc: that.formItem.desc},
					{emulateJSON: true}
				).then(function(response) {
					var ret = response.body.ret;
					that.$Message.success("Success");
					setTimeout(function() {
						location.reload();
					}, 2000);
				}, function(response) {
					alert("error");
				})
			},
			handleUpload: function(file) {
				var keyID = Math.random().toString().substr(2);
				file["keyID"] = keyID;
				this.files.push(file);
				return false;
			},
			musicUpload: function(file) {
				var keyID = Math.random().toString().substr(2);
				file["uploadType"] = "music";
				file["keyID"] = keyID;
				this.files.push(file);
				this.music = true;
				return false;
			},
			coverUpload: function(file) {
				var keyID = Math.random().toString().substr(2);
				file["uploadType"] = "cover";
				file["keyID"] = keyID;
				this.files.push(file);
				this.cover = true;
				return false;
			},
			delFile: function(keyID) {
				this.files = this.files.filter(function(item) {
					return item.keyID != keyID;
				});
				musicFile = this.files.filter(function(item) {
					console.log(item.uploadType);
					return item.uploadType == "music";
				});
				coverFile = this.files.filter(function(item) {
					return item.uploadType == "cover";
				});
				if (musicFile.length == 0) {
					this.music = false;
				}
				if (coverFile.length == 0) {
					this.cover = false;
				}
			},
			upload: function() {
				if (this.files.length == 0) {
					this.$Message.error("少上传了");
					return false;
				}
				var uploadFiles = this.files.concat();
				this.files = [];
				this.music = false;
				this.cover = false;
				var count = 0;
				for (var i = 0; i < uploadFiles.length; i ++) {
					var item = uploadFiles[i];
					if (count == 2) {
						break;
					}
					if (item.uploadType == "music") {
						count ++;
						this.$refs.music.post(item);
					}
					if (item.uploadType == "cover") {
						count ++;
						this.$refs.cover.post(item);
					}
				}
			},
		}
	});

	var Trail = Vue.extend({
		template: "#trails",
		data: function() {
			return {
				trails: [],
				current: 1,
				total: 0,
				pageSize: 20,
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			changePage: function(page) {
				this.current = page;
				var that = this;
				this.$http.post("/api/songtrail",
					{current: that.current, pageSize: that.pageSize},
					{emulateJSON: true}
				).then(function(response) {
					that.trails = response.body.trail_list;
					that.total = response.body.total;
				})
			},
			fetchData: function() {
				var that = this;
				this.$http.post("/api/songtrail",
					{current: that.current, pageSize: that.pageSize},
					{emulateJSON: true}
				).then(function(response) {
					that.trails = response.body.trail_list;
					that.total = response.body.total;
				})
			}
		}
	});

	var SongList = Vue.component("song-list", {
		props: ["song"],
		template: "#song-list"
	});

	var trailList = Vue.component("trail-list", {
		props: ["trail"],
		template: "#trail-list"
	})

	var routes = [
	    {path: "/", component: Contribute},
	    {path: "/contrib", component: Contribute},
	    {path: "/uploads", component: Upload},
	    {path: "/trails", component: Trail}
	];

	var router = new VueRouter({routes});
	var contributes = new Vue({
		router,
		data: function() {
			return {
				username: "",
				space_id: "",
				yourself: false,
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			fetchData: function() {
				var that = this;
				this.$http.post("/musicweb/space/contributes/" + {{ space_id }}
				).then(function(response) {
					that.username = response.body.username;
					that.space_id = response.body.space_id;
					that.yourself = response.body.yourself;
				})
			}
		}
	}).$mount("#contributes");
</script>
{% end %}