{% extends "./base.html" %}

{% block main %}

<div id="subnav" class="layout-sub-container">
	<i-menu mode="horizontal" theme="light" class="my-horizontal" active-name="home">
		<div class="layout-sub-inner">
			<menu-item name="home">
				<router-link to="/home">
					首页
				</router-link>
			</menu-item>
			<menu-item name="rank">
				<router-link to="/spider">
					排行
				</router-link>
			</menu-item>
			<menu-item name="newly">
				<router-link to="/newly-upload">
					最新
				</router-link>
			</menu-item>
			<menu-item name="type">
				<router-link to="/music">
					音乐
				</router-link>
			</menu-item>
			<menu-item name="column">
				<router-link to="/column">
					专栏
				</router-link>
			</menu-item>
		</div>
	</i-menu>
	<router-view></router-view>
	<i-footer class="footer-center">～ようこそウリウリへο(=•ω＜=)ρ⌒☆～</i-footer>
	<back-top></back-top>
</div>

<template id="home">
	<div>
	    <div class="chief-recommend-module">
			<div class="carousel-box">
				<carousel autoplay loop>
					<carousel-item>
						<div class="carousel-item">1</div>
					</carousel-item>
					<carousel-item>
						<div class="carousel-item">2</div>
					</carousel-item>
					<carousel-item>
						<div class="carousel-item">3</div>
					</carousel-item>
					<carousel-item>
						<div class="carousel-item">4</div>
					</carousel-item>
				</carousel>
			</div>
			<div class="recommend-module clearfix">
				<card style="width:100%;height:220px">
					<p slot="title">
						<icon type="music-note"></icon>
						排行
					</p>
					<ul>
						<li v-for="item in rankList">
							<a :href="item.url" target="_blank">{{! item.name }}</a>
							<span class="bcon bcon-net"></span>
						</li>
					</ul>
				</card>
			</div>
		</div>

		<div>
			<div class="headline clearfix">
				<i class="bcon bcon_t bcon-newly"></i>
				<p class="name">最新</p>
			</div>
			<div class="storey-box">
				<song-list 
				  v-for="item in songs"
				  v-bind:song="item"
				  v-bind:key="item.id">
				 </song-list>
			</div>
		</div>

		<div class="headline clearfix">
			<i class="bcon bcon_t bcon-rank"></i>
			<p class="name">最热</p>
		</div>
		<div class="storey-box">
			<song-list
			  v-for="item in songs"
			  v-bind:song="item"
			  v-bind:key="item.id">
			</song-list>
		</div>

		<div class="headline clearfix">
			<i class="bcon bcon_t bcon-music"></i>
			<p class="name">音乐</p>
		</div>
		<div class="storey-box">
			<song-list
			  v-for="item in songs"
			  v-bind:song="item"
			  v-bind:key="item.id">
			</song-list>
		</div>
	</div>
</template>

<template id="spider">
	<div class="block-padding">
		<tabs type="card" v-model="current" @on-click="showCurrent">
			<tab-pane label="交集" name=0>
				<spider-table v-bind:spider="spider"></spider-table>
			</tab-pane>
			<tab-pane label="网易" name=1>网易的内容</tab-pane>
			<tab-pane label="qq" name=2>qq的内容</tab-pane>
			<tab-pane label="酷狗" name=3>酷狗的内容</tab-pane>
		</tabs>
	</div>
</template>

<template id="newly-upload">
	<div>
		<div class="block-padding clearfix">
			<song-list
		      v-for="item in songs"
		      v-bind:song="item"
		      v-bind:key="item.id">
		    </song-list>
		</div>
		<div align="center" class="pagination">
			<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
		</div>
	</div>
</template>

<template id="music">
	<div class="block-padding">
		<music-table v-bind:song-list="songList"></music-table>
	</div>
</template>

<template id="column">
	<div class="block-padding">
		<column-list
		  v-for="item in articles"
		  v-bind:article="item"
		  v-bind:key="item.id">
		</column-list>
		<div align="center" class="pagination">
			<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
		</div>
	</div>
</template>

<template id="song-list">
	<div class="spread-module">
		<a :href="song.link" target="_blank">
			<div class="pic">
				<div class="lazy-pic">
					<img :src="song.pic" :alt="song.name">
				</div>
			</div>
			<p class="t" :title="song.name">{{! song.name }}</p>
		</a>
	</div>
</template>

<template id="spider-table">
	<div class="block-padding my-table">
		<i-table size="large" :columns="fixedColumn" :data="spider.spiderList"></i-table>
	</div>
</template>

<template id="music-table">
	<div class="block-padding my-table">
		<i-table size="large" :columns="fixedColumn" :data="songList"></i-table>
	</div>
</template>

<template id="column-list">
	<div class="article-item">
		<div class="item-holder">
			<div class="article-content">
				<div>
					<a :href="article.link" target="_blank" class="article-title-holder">
						<span class="article-title" :title="article.title">{{! article.title }}</span>
					</a>
				</div>
				<div class="article-info-bar">
					<a :href="article.author.link" target="_blank" class="up-content">
						<span class="nick-name">{{! article.author.name }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

{% end %}

{% block script %}
<script>
	Vue.use(VueRouter);

	var SongList = Vue.component("song-list", {
		props: ["song"],
		template: "#song-list"
	});

	var SpiderTable = Vue.component("spider-table", {
		props: ["spider"],
		template: "#spider-table",
		data: function() {
			var that = this;
			return {
				fixedColumn: [
				  { title: "排名", key: "rank", sortable: true },
				  { title: "歌名", key: "name" },
				  { title: "作者", key: "singer" },
				  { title: "链接", key: "link",
				    render: function(h, params) {
				    	var linkNum = params.row.link.length;
				    	var hArray = new Array();
				    	if (linkNum == 1) {
				    		hArray.push(
				    			h("Button", {
				    			   props: {
				    			   	   type: "primary",
				    			   	   size: "small"
				    			   },
				    			   style: {
				    			   	   marginRight: '5px'
				    			   },
				    			   on: {
				    			   	   click: function() {
				    			   	   	 this.show(params.index);
				    			   	   }
				    			   }
				    			}, that.spider.name))
				    	} else {
				    		var mapName = ["网易", "qq", "酷狗"];
				    		for (var i = 0; i < linkNum; i ++) {
				    			hArray.push(
				    				h("Button", {
				    					props: {
				    						type: "primary",
				    						size: "small",
				    						disabled: !Boolean(params.row.link[i])
				    					},
				    					style: {
				    						marginRight: '5px'
				    					},
				    					on: {
				    						click: function() {
				    							this.show(params.index);
				    						}
				    					}
				    				}, mapName[i]))
				    		}
				    	}
				    	return h("div", hArray);
				    } },
				]
			};
		}
	});

	var MusicTable = Vue.component("music-table", {
		props: ["songList"],
		template: "#music-table",
		data: function() {
			return {
				fixedColumn: [
				  { title: "点击量", key: "click", sortable: true},
				  { title: "歌名", key: "name" },
				  { title: "上传者", key: "uploader" },
				  { title: "分类", key: "category", sortable: true},
				]
			}
		}
	});

	var ColumnList = Vue.component("column-list", {
		props: ["article"],
		template: "#column-list"
	});

	var Home = Vue.extend({
		template: "#home",
		data: function() {
			return{
				rankList: [
			        {url: "www.baidu.com", name: "aaa"}
			    ],
			    songs:[{
			    	link: "/musicweb/song",
			    	pic: "{{ static_url('img/test.jpg') }}",
			    	name: "test"
			    },]
			}
		}
	});

	var Spider = Vue.extend({
		template: "#spider",
		data: function() {
			return {
				current: 0,
				spider: {
					name: "网易",
					spiderList: [
					  { rank: 1, name: "小苹果", singer: "筷子兄弟", link: ["www.baidu.com"] },
					  { rank: 2, name: "苹果", singer: "子兄弟", link: ["www.baidu.com", "www.google.com", ""] },
					  { rank: 3, name: "果", singer: "兄弟", link: ["www.baidu.com", "", "www.google.com"] },
					  { rank: 4, name: "ppap", singer: "pikotaro", link: ["www.baidu.com", "wwww.google.com", "www.yahoo.com"] },
					]
				}
			};
		},
		methods: {
			showCurrent: function() {
				console.log(this.current);
			}
		}
	});

	var NewlyUpload = Vue.extend({
		template: "#newly-upload",
		data: function() {
			return {
				current: 1,
				total: 6,
				pageSize: 6,
				songs: [
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				  {link: "www.abc.com", pic: "{{ static_url('img/test.jpg') }}", name: "test" },
				]
			}
		},
		methods: {
			changePage: function(page) {
				console.log(page);
			}
		}
	});

	var Music = Vue.extend({
		template: "#music",
		data: function() {
			return {
				songList: [
				  { click: 123, name: "jackson", uploader: "foo", category: 1 },
				  { click: 1234, name: "dangerous", uploader: "foo", category: 1 },
				  { click: 1235, name: "private", uploader: "foo", category: 1 },
				  { click: 12, name: "jackson", uploader: "foo", category: 1 },
				]
			}
		}
	});

	var Column = Vue.extend({
		template: "#column",
		data: function() {
			return {
				current: 1,
				total: 6,
				pageSize: 3,
				articles: [
				  {
				  	title: "召唤师，你后悔吗？",
				  	link: "www.baidu.com",
				  	cover: "img/test.jpg",
				  	author: {name: "树上猕猴桃 ", link: "www.baidu.com"},
				  },
				  {
				  	title: "召唤师，你后悔吗？",
				  	link: "www.baidu.com",
				  	cover: "img/test.jpg",
				  	author: {name: "树上猕猴桃 ", link: "www.baidu.com"},
				  },
				  {
				  	title: "召唤师，你后悔吗？",
				  	link: "www.baidu.com",
				  	cover: "img/test.jpg",
				  	author: {name: "树上猕猴桃 ", link: "www.baidu.com"},
				  }
				]
			}
		},
		methods: {
			changePage: function(page) {
				console.log(page);
			}
		}
	});

	var routes = [
	  {path: "/home", component: Home},
	  {path: "/spider", component: Spider},
	  {path: "/newly-upload", component: NewlyUpload},
	  {path: "/music", component: Music},
	  {path: "/column", component: Column}
	];

	var router = new VueRouter({routes});
	var subnav = new Vue({
		router
	}).$mount("#subnav");

	var search = new Vue({
			el: "#search",
			data: {
				value: ""
			}
		})
</script>
{% end %}