{% extends "./base.html" %}

{% block header %}
<style>
	.link-button {
		margin-left: 20px;
	}
	.ivu-page-item-active {
		background-color: #000;
		border-color: #000;
	}
	.ivu-page-item:hover {
	    border-color: #000;
	    /*color: #000;*/
	}
	.ivu-page-next:hover, .ivu-page-prev:hover {
	    border-color: #000;
	}
	.ivu-carousel-list {
		height: 220px;
		border-radius: 4px;
		margin-right: 5px;
	}
</style>
{% end %}

{% block main %}

<div id="subnav" class="layout-sub-container">
	<i-menu mode="horizontal" theme="dark" class="my-horizontal" active-name="home">
		<div class="layout-sub-inner">
			<router-link to="/home">
				<menu-item name="home">
					首页
				</menu-item>
			</router-link>
			<router-link to="/spider">
				<menu-item name="rank">
					排行
				</menu-item>
			</router-link>
			<router-link to="/diy">
				<menu-item name="diy">
					原创
				</menu-item>
			</router-link>
			<router-link to="/music">
				<menu-item name="type">
					音乐
				</menu-item>
			</router-link>
			<router-link to="/column">
				<menu-item name="column">
					专栏
				</menu-item>
			</router-link>
		</div>
	</i-menu>
	<router-view></router-view>
	<i-footer class="footer-center">～ようこそウリウリへο(=•ω＜=)ρ⌒☆～</i-footer>
	<back-top></back-top>
</div>

<template id="home">
	<div>
	    <div class="chief-recommend-module">
			<div class="carousel-box">
				<carousel autoplay v-model="start" loop>
					<carousel-item>
						<a :href="carousel_target1">
							<div class="lazy-img">
								<img :src="img1" alt="">
							</div>
						</a>
					</carousel-item>
					<carousel-item>
						<a :href="carousel_target2">
							<div class="lazy-img">
								<img :src="img2" alt="">
							</div>
						</a>
					</carousel-item>
				</carousel>
			</div>
			<div class="recommend-module clearfix">
				<card style="width:100%;height:220px">
					<p slot="title">
						<icon type="music-note"></icon>
						排行
					</p>
					<ul>
						<rank-list v-for="item in rankList"
						           v-bind:rank="item"
						           v-bind:key="item.id">
						</rank-list>
					</ul>
				</card>
			</div>
		</div>

		<div>
			<div class="headline clearfix">
				<!-- <i class="bcon bcon_t bcon-newly"></i> -->
				<i class="pcon pcon_t pcon-music"></i>
				<p class="name">最新</p>
			</div>
			<div class="storey-box">
				<song-list 
				  v-for="item in newlyUploads"
				  v-bind:song="item"
				  v-bind:key="item.id">
				 </song-list>
			</div>
		</div>

		<div class="headline clearfix">
			<!-- <i class="bcon bcon_t bcon-rank"></i> -->
			<i class="pcon pcon_t pcon-music"></i>
			<p class="name">原创</p>
		</div>
		<div class="storey-box">
			<song-list
			  v-for="item in Diys"
			  v-bind:song="item"
			  v-bind:key="item.id">
			</song-list>
		</div>

		<div class="headline clearfix">
			<!-- <i class="bcon bcon_t bcon-music"></i> -->
			<i class="pcon pcon_t pcon-music"></i>
			<p class="name">音乐</p>
		</div>
		<div class="storey-box">
			<song-list
			  v-for="item in Nodiys"
			  v-bind:song="item"
			  v-bind:key="item.id">
			</song-list>
		</div>
	</div>
</template>

<template id="spider">
	<div class="block-padding">
		<tabs type="card" v-model="current" @on-click="showCurrent">
			<tab-pane label="交集" name=0>
				<spider-union v-bind:rank="rankList"></spider-union>
			</tab-pane>
			<tab-pane label="网易" name=1>
				<spider-table v-bind:spider="spiderList"></spider-table>
			</tab-pane>
			<tab-pane label="QQ" name=2>
				<spider-table v-bind:spider="spiderList"></spider-table>
			</tab-pane>
			<tab-pane label="酷狗" name=3>
				<spider-table v-bind:spider="spiderList"></spider-table>
			</tab-pane>
		</tabs>
	</div>
</template>

<template id="diy">
	<div>
		<div class="block-padding clearfix">
			<song-list
		      v-for="item in allDiys"
		      v-bind:song="item"
		      v-bind:key="item.id">
		    </song-list>
		</div>
		<div align="center" class="pagination">
			<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
		</div>
	</div>
</template>

<template id="music">
	<div class="block-padding">
		<music-table v-bind:song-list="songList"></music-table>
	</div>
</template>

<template id="column">
	<div class="block-padding">
		<column-list
		  v-for="item in columns"
		  v-bind:column="item"
		  v-bind:key="item.id">
		</column-list>
		<div align="center" class="pagination">
			<page :current="current" :total="total" :page-size="pageSize" @on-change="changePage"></page>
		</div>
	</div>
</template>

<template id="song-list">
	<div class="spread-module">
		<a :href="song.url" target="_blank">
			<div class="pic">
				<div class="lazy-img">
					<img :src="song.cover_path" :alt="song.name">
				</div>
			</div>
			<p class="t" :title="song.name">{{! song.name }}</p>
		</a>
	</div>
</template>

<template id="spider-table">
	<div class="block-padding my-table">
		<i-table size="large" :columns="fixedColumn" :data="spider"></i-table>
	</div>
</template>

<template id="spider-union">
	<div class="block-padding my-table">
		<i-table size="large" :columns="fixedColumn" :data="rank"></i-table>
	</div>
</template>

<template id="music-table">
	<div class="block-padding my-table">
		<i-table size="large" :columns="fixedColumn" :data="songList"></i-table>
	</div>
</template>

<template id="column-list">
	<div class="article-item">
		<div class="item-holder">
			<div class="article-content">
				<div>
					<a :href="column.url" target="_blank" class="article-title-holder">
						<span class="article-title" :title="column.name">{{! column.name }}</span>
					</a>
				</div>
				<div class="article-info-bar">
					<a :href="'/musicweb/space/' + column.author_id" target="_blank" class="up-content">
						<span class="nick-name">{{! column.author }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="rank-list">
	<li style="margin-bottom:2px; margin-left:5px">
		<div style="width:50%; text-overflow:ellipsis; display:inline-block;">
			{{! rank.name }} - {{! rank.author }}
		</div>
		<div style="display:inline-block;" v-for="(item, index) in rank.link_info">
			<a v-if="item.dsp_id==1" :href="item.link" target="_blank"><i-button size="small" class="link-button">网易</i-button></a>
			<a v-if="item.dsp_id==2" :href="item.link" target="_blank"><i-button size="small" class="link-button">QQ</i-button></a>
			<a v-if="item.dsp_id==3" :href="item.link" target="_blank"><i-button size="small" class="link-button">酷狗</i-button></a>
		</div>
	</li>
</template>

{% end %}

{% block script %}
<script>
	Vue.use(VueRouter);

	var SongList = Vue.component("song-list", {
		props: ["song"],
		template: "#song-list"
	});

	var RankList = Vue.component("rank-list", {
		props: ["rank"],
		template: "#rank-list"
	});

	var SpiderTable = Vue.component("spider-table", {
		props: ["spider"],
		template: "#spider-table",
		data: function() {
			var that = this;
			return {
				fixedColumn: [
				  { title: "排名", key: "rank", sortable: true },
				  { title: "歌名", key: "name" },
				  { title: "作者", key: "author" },
				  { title: "链接", key: "link",
				    render: function(h, params) {
				    	var linkNum = params.row.link.length;
				    	var hArray = new Array();
				    	var mapName = {"1": "网易", "2": "QQ", "3": "酷狗"};
				    		hArray.push(
				    			h("Button", {
				    			   props: {
				    			   	   size: "small"
				    			   },
				    			   style: {
				    			   	   marginRight: '5px'
				    			   },
				    			   on: {
				    			   	   click: function() {
				    			   	   	 window.open(params.row.link);
				    			   	   }
				    			   }
				    			}, mapName[params.row.dsp_id.toString()]))
				    	return h("div", hArray);
				    } },
				]
			};
		}
	});

	var SpiderUnion = Vue.component("spider-union", {
		props: ["rank"],
		template: "#spider-union",
		data: function() {
			var that = this;
			return {
				fixedColumn: [
				  {title: "歌名", key: "name"},
				  {title: "作者", key: "author"},
				  {title: "链接", key: "link",
				    render: function(h, params) {
				    	var linkNum = params.row.link_info.length;
				    	var hArray = new Array();
				    		var mapName = {"1": "网易", "2": "QQ", "3": "酷狗"};
				    		for (let i = 0; i < linkNum; i ++) {
				    			hArray.push(
				    				h("Button", {
				    					props: {
				    						size: "small",
				    					},
				    					style: {
				    						marginRight: '5px'
				    					},
				    					on: {
				    						click: function() {
				    							window.open(params.row.link_info[i].link);
				    						}
				    					}
				    				}, mapName[params.row.link_info[i].dsp_id.toString()]))
				    		}
				    	return h("div", hArray);
				    }
				  },
				]
			}
		}
	})

	var MusicTable = Vue.component("music-table", {
		props: ["songList"],
		template: "#music-table",
		data: function() {
			return {
				fixedColumn: [
				  { title: "创作类型",
				    key: "origin_type", 
				    filters: [
				      {
				      	label: "原创",
				      	value: 1
				      },
				      {
				      	label: "非原创",
				      	value: 2
				      }
				    ],
				    filterMultiple: true,
				    filterMethod (value, row) {
				    	if (value == 1) {
				    		return row.origin_type == "原创";
				    	} else if (value == 2) {
				    		return row.origin_type == "非原创";
				    	}
				    }
				  },
				  { title: "歌名", key: "name",
				    render: function(h, params) {
				    	var href = [h("a", {
				    		on: {
				    			click: function() {
				    				window.open(params.row.url);
				    			}
				    		}
				    	}, params.row.name)];
				    	return h("div", href);
				    }
				  },
				  { title: "上传者", key: "uploader_name" },
				  { title: "分类", 
				    key: "song_type", 
				    filters: [
				      {
				      	label: "中文",
				      	value: 1
				      },
				      {
				      	label: "轻音乐",
				      	value: 2
				      },
				      {
				      	label: "爵士",
				      	value: 3
				      },
				      {
				      	label: "日文",
				      	value: 4
				      },
				      {
				      	label: "英文",
				      	value: 5
				      },
				    ],
				    filterMultiple: true,
				    filterMethod (value, row) {
				    	if (value == 1) {
				    		return row.song_type == "中文";
				    	} else if (value == 2) {
				    		return row.song_type == "轻音乐";
				    	} else if (value == 3) {
				    		return row.song_type == "爵士";
				    	} else if (value == 4) {
				    		return row.song_type == "日文";
				    	} else if (value == 5) {
				    		return row.song_type == "英文";
				    	}
				    }
				  },
				]
			}
		}
	});

	var ColumnList = Vue.component("column-list", {
		props: ["column"],
		template: "#column-list"
	});

	var Home = Vue.extend({
		template: "#home",
		data: function() {
			return{
				rankList: [],
			    newlyUploads: [],
			    Diys: [],
			    Nodiys: [],
			    img1: "",
			    img2: "",
			    carousel_target1: "",
			    carousel_target2: "",
			    start: 0,
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			fetchData: function() {
				var that = this;
				this.$http.get("/api/spiderindex"
				).then(function(response) {
					that.rankList = response.body.union_list.slice(0,5);
				}, function(response) {
					alert("error");
				});

				this.$http.get("/api/songindex/?query=7"
				).then(function(response) {
					var results = response.body.results;
					console.log(results);
					that.newlyUploads = results[0];
					that.Diys = results[1];
					that.Nodiys = results[2];
				});

				this.$http.get("/api/carousel"
				).then(function(response) {
					var carouselList = response.body.carousel_list;
					that.img1 = carouselList[0].url;
					that.carousel_target1 = carouselList[0].target;
					that.img2 = carouselList[1].url;
					that.carousel_target2 = carouselList[1].target;
				})
			}
		}
	});

	var Spider = Vue.extend({
		template: "#spider",
		data: function() {
			return {
				current: 0,
				rankList: [],
				spiderList: []
			};
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			showCurrent: function() {
				console.log(this.current);
				var that = this;
				this.$http.post("/api/spiderindex",
				    {dsp_id: that.current},
				    {emulateJSON: true}
				).then(function(response) {
					that.spiderList = response.body.spider_list;
				}, function(response) {
					alert("error");
				})
			},
			fetchData: function() {
				var that = this;
				this.$http.get("/api/spiderindex"
				).then(function(response) {
					that.rankList = response.body.union_list;
				}, function(response) {
					alert("error");
				})
			}
		}
	});

	var Diy = Vue.extend({
		template: "#diy",
		data: function() {
			return {
				current: 1,
				total: 0,
				pageSize: 3,
				allDiys: []
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			changePage: function(page) {
				console.log(page);
				this.current = page;
				var that = this;
				this.$http.post("/api/songindex/?",
					{current: that.current, pageSize: that.pageSize, query: 2},
					{emulateJSON: true}
				).then(function(response) {
					that.allDiys = response.body.origin_list;
					that.total = response.body.total;
				})
			},
			fetchData: function() {
				var that = this;
				this.$http.post("/api/songindex/?",
					{current: that.current, pageSize: that.pageSize, query: 2},
					{emulateJSON: true}
				).then(function(response) {
					that.allDiys = response.body.origin_list;
					that.total = response.body.total;
				})
			}
		}
	});

	var Music = Vue.extend({
		template: "#music",
		data: function() {
			return {
				songList: []
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			fetchData: function() {
				var that = this;
				this.$http.post("/api/songindex/?",
					{query: 8},
					{emulateJSON: true}
				).then(function(response) {
					that.songList = response.body.song_list;
				})
			}
		}
	});

	var Column = Vue.extend({
		template: "#column",
		data: function() {
			return {
				current: 1,
				total: 1,
				pageSize: 3,
				columns: []
			}
		},
		created: function() {
			this.fetchData();
		},
		methods: {
			changePage: function(page) {
				console.log(page);
			},
			fetchData: function() {
				var that = this;
				this.$http.get("/api/allcolumns"
				).then(function(response) {
					that.columns = response.body.columns;
					console.log(response.body);
				})
			}
		}
	});

	var routes = [
	  {path: "/", component: Home},
	  {path: "/home", component: Home},
	  {path: "/spider", component: Spider},
	  {path: "/diy", component: Diy},
	  {path: "/music", component: Music},
	  {path: "/column", component: Column}
	];

	var router = new VueRouter({routes});
	var subnav = new Vue({
		router
	}).$mount("#subnav");

	// var search = new Vue({
	// 		el: "#search",
	// 		data: {
	// 			value: ""
	// 		}
	// 	})
</script>
{% end %}