{% extends "./base.html" %}

{% block header %}
<link rel="stylesheet" href="{{ static_url('css/aplayer/APlayer.min.css') }}">
<style>
	a {
		color: #f02d2d;
	}
	a:active, a:hover {
		color: #f02d2d;
	}
</style>
{% end %}

{% block main %}
<div id="song" class="layout-sub-container">
	<div class="song-header">
		<!-- <h1>Sugar Song To Bitter Step</h1> -->
		<h1>{{! songInfo.name }}</h1>
	</div>

    <div class="block-padding">
    	<div id="aplayer"></div>
    </div>

    <div class="song-info">
    	<div class="song-title">
    		<span>音频简介</span>
    	</div>
    	<div class="song-intro">
    		<div><span>音频名：</span><span>{{! songInfo.name }}</span></div>
    		<div><span>作者：</span><span>{{! songInfo.artist }}</span></div>
    		<div><span>投稿者：</span><span><a :href="'/musicweb/space/' + songInfo.uploader.id">{{! songInfo.uploader.name }}</a></span></div>
    		<div><span>简介：</span><span>{{! songInfo.desc }}</span></div>
    		<div>
    			<a href="">
    				<i class="pcon pcon_t pcon-download" style="margin-right:0px"></i>
    				<p class="name">下载</p>
    			</a>
    		</div>
    	</div>
    </div>

	<i-footer class="footer-center">～ようこそウリウリへο(=•ω＜=)ρ⌒☆～</i-footer>
	<back-top></back-top>
</div>
{% end %}

{% block script %}
<script src="{{ static_url('js/aplayer/APlayer.min.js') }}"></script>
<script>
	var song = new Vue({
		el: "#song",
		data: function() {
			return {
				songInfo: {
					name: "Sugar Song To Bitter Step",
					artist: "Unison Square Garden",
					uploader: {name: "小栗婷", id: "000"},
					desc: "aaa",
				}
			}
		}
	});

	var ap = new APlayer({
		container: document.getElementById("aplayer"),
		audio: [{
			name: "sugar song to bitter step",
			artist: "unison square garden",
			url: "{{ static_url('audio/test.mp3') }}",
			cover: "{{ static_url('img/column.jpg') }}"
		}]
	})

</script>
{% end %}