{% extends "./base.html" %}

{% block main %}
<div id="user" class="space-container space-clearfix">
	<div class="block-padding">
<!-- 		<div v-if="myself">
		</div>
		<div v-else>
			<other-user></other-user>
		</div> -->
		<div class="test-ulpic"></div>
		<div class="test-urpic"></div>
		<div class="usection-outter">
			<div class="demo-avatar">
				<avatar class="avatar" icon="person" size="large"></avatar>
				<p class="username">小栗婷</p>
			</div>
			<div class="usection-container fadeInUp">
			    <div class="test-usec">简介<br>简介<br>简介</div>	
				<a target="_blank" :href="'/musicweb/space/contributes/' + user_id"><div class="test-usec">投稿</div></a>
				<a target="_blank" :href="'/musicweb/space/columns/' + user_id"><div class="test-usec">专栏</div></a>
				<!-- <a target="_blank" :href="'/musicweb/space/collections/' + user_id"><div class="test-usec">收藏</div></a> -->
				<a target="_blank" v-if="myself" :href="'/musicweb/space/settings/' + user_id"><div class="test-usec">设置</div></a>
				<a href="javascript:window.close()"><div class="test-usecr">退出</div></a>
			</div>
		</div>
		<div class="usection-modify"></div>
	</div>	
</div>

<template id="other">
	<div>
		<div class="test-ulpic"></div>
		<div class="test-urpic"></div>
		<div class="demo-avatar">
			<avatar class="avatar" icon="person" size="large"></avatar>
			<p class="username">小栗婷</p>
		</div>
		<div class="usection-container">
			
		</div>
		<!-- <div class="space-col1">		
			<collapse class="my-collapse">
				<panel name="upload" class="section-title">
					TA的投稿
					<p slot="content">aaaaaaaaa</p>
				</panel>
				<panel name="favourite" class="section-title">
					TA的专栏
					<p slot="content">aaaaaaaa</p>
				</panel>
			</collapse>
		</div>
		<div class="space-col2">
			<div class="section-user">
				afdsdfs
			</div>
		</div> -->
	</div>
</template>
{% end %}

{% block script %}
<script>
	var Other = Vue.component("other-user", {
		template: "#other"
	});

	var user = new Vue({
		el: "#user",
		data: function() {
			return {
				myself: true,
				user_id: "0000",
			}
		}
	});
</script>
{% end %}